<nav class="navbar navbar-expand-lg bg-light justify-content-center">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <% if !Current.user %>
        <a class="nav-item nav-link ms-auto" href="/login">Login</a>
      <% else %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, <%= Current.user.email %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogin">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><%= link_to "Logout", logout_path, data: {
                    turbo_method: :delete
                  }, class: "dropdown-item" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</nav>